<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Автору</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="author-check-list.html">Чек лист перед игрой</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Капитану</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="setup_team/create_chat.html">Создание чата</a>
            <a class="navbar-item" href="setup_team/group2sg.html">Преобразование чата в супергруппу</a>
            <a class="navbar-item" href="setup_team/check_is_sg.html">Проверка группа или супергруппа</a>
            <a class="navbar-item" href="setup_team/create_team.html">Создание команды</a>
            <a class="navbar-item" href="setup_team/manage_team.html">Управление командой</a>
            <a class="navbar-item" href="setup_team/waivers.html">Подача вейверов</a>
          </div>
        </div>
        <a class="navbar-item" href="index.html">Домой</a>
      </div>
    </div>
  </nav>
</header>
