.git/
.idea/
.github/
.run/
.*ignore
README.md
README.adoc
__pycache__
*.pyc
.env*
docker-compose*.yml
Dockerfile
*.service
*.db
*.db*
docs/
develop/
nginx/
jsons/
log/
config_dist/
tests/
uv.lock
.python-version
AGENTS.md
LICENSE
