version: '3.2'

services:

  shvatka_bot:
    container_name: shvatka_bot
    restart: always
    image: bomzheg/shvatka:latest
    volumes:
      - type: "bind"
        source: "./config"
        target: "/code/config"
      - type: "bind"
        source: "./files"
        target: "/files"
    entrypoint: [ "python3", "-m", "tgbot"]
    networks:
      - reverse-proxy
      - botapi
      - redis
    extra_hosts:
      - "host.docker.internal:host-gateway"

  telegram-bot-api:
    profiles: [ "botapi" ]
    image: aiogram/telegram-bot-api:latest
    environment:
      TELEGRAM_API_ID: "6"
      TELEGRAM_API_HASH: "eb06d4abfb49dc3eeb1aeb98ae0f581e"
      TELEGRAM_LOCAL: 1
    volumes:
      - telegram-bot-api-data:/var/lib/telegram-bot-api
    networks:
      - botapi

  nginx:
    profiles: [ "botapi" ]
    image: nginx:latest
    volumes:
      - telegram-bot-api-data:/usr/share/nginx/html/var/lib/telegram-bot-api:ro
    environment:
      - NGINX_PORT=80
    networks:
      - botapi

  redis-dev:
    profiles: [ "dev" ]
    image: "redis:6-alpine"
    entrypoint: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - redis
    ports:
      - "6379:6379"

  redis:
    image: "redis:6-alpine"
    entrypoint: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - redis

volumes:
  telegram-bot-api-data:
  redis_data:

networks:
  reverse-proxy:
    external:
      name: nginx-revers-proxy
  redis:
  botapi:
