bot:
  token: ""
  telegraph_token: ""
  log_chat: -1001234567890
  superusers:
    - 666
  botapi:
    type: local
    botapi_url: "http://telegram-bot-api:8081"
    file_url: "http://nginx:80"
db:
  type: postgresql
  connector: asyncpg
  host: localhost
  port: 5432
  login: postgres
  password: postgres
  name: shvatka_bot
redis:
  url: localhost
  port: 6379
  db: 2
storage:
  type: memory
  # type: redis
  # redis:
  #   url: localhost
  #   port: 6379
  #   db: 1
auth:
  secret-key: 09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
  token-expire-minutes: 30
  bot-token: ""
  bot-username: ""
  auth-url: "https://example.org/sh/login/data"
file-storage-config:
  path: ./local-storage/files
  mkdir: true
  exist-ok: true
  parents: true
